*.zip
*.png
*.jpg
dataset*
CMU*
*pycache*
*.idea
datasets/
dataset/
dec7_imgs/
generated_mh_info/
mano_hands/
mh_one_hand/
mh_one_hand_rotation/
One_Hand_mediapipe/
synthetic_hands/
synthetic_mano_hands/
tmp/
.DS_Store
